.dropdown {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;

  @include tr(300);

  opacity: 0;

  transform: translateY(1rem);

  visibility: hidden;

  pointer-events: none;
  &__list {
    @include m(t, 2rem);

    border: 2px solid rgba(var(--w-clr), .8);
  }
  &__item {
    padding: 0.375rem 0.625rem;

    @include tr(300);

    @include hover {
      &:hover {
        transform: translateX(0.25rem);
      }
    }
  }
  &__link {
    font-size: 0.875rem;
  }
}
