.main-title {
  text-align: center;

  text-transform: uppercase;

  font-size: var(--main-title-fz);
  font-weight: var(--main-title-fw);
  line-height: var(--main-title-lh);

  color: rgba(var(--w-clr), 1);

  &--medium {
    font-size: var(--main-title-fz_medium);
    line-height: var(--main-title-lh_medium);
  }
}

.section-title {
  text-align: center;

  font-family: var(--ff_i);
  font-weight: 400;
  font-size: var(--section-title_fz);
  line-height: var(--section-title_lh);

  text-transform: uppercase;
}

.button {
  @include dfc;

  text-align: center;

  font-family: var(--ff_i);
  font-size: var(--btn-fz);
  font-weight: var(--btn-fw);
  line-height: var(--btn-lh);

  color: rgba(var(--w-clr),1);

  text-transform: uppercase;

  border: var(--btn-border-width) solid rgba(var(--w-clr), 0.2);
  border-radius: var(--btn-radius);

  @include tr(200);

  padding: var(--btn-p-y_large) var(--btn-p-x_large);

  &--small {
    padding: var(--btn-p-y_small) var(--btn-p-x_small);
  }
  &--modal {
    font-size: var(--btn-fz_modal);
    line-height: var(--btn-lh_modal);

    border: var(--btn-border-width) solid rgba(var(--w-clr), 0.5);
  }
  &--selected {
    border: var(--btn-border-width) solid rgba(var(--r-clr), 1);
  }

  @include hover {
    &:hover {
      border: var(--btn-border-width) solid rgba(var(--w-clr), .8);
    }
  }
  &:active {
    transform: scale(.97);
  }
}
