.footer {
  min-height: 1rem;

  --footer-info-gap: 2.75rem;
  &__body {
    color: rgba(var(--gr-clr), 1);

    padding: var(--footer-py-1) 0 var(--footer-py-2);
  }
  &__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: var(--footer-grid-gutter);

    align-items: flex-start;

    justify-content: space-between;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(var(--footer-row-cols), auto);
    grid-gap: 2rem var(--footer-row-gap);
  }
  &__col {
    display: flex;
    flex-direction: column;

    grid-gap: 1.5rem;

    &--between {
      justify-content: space-between;

      flex-direction: row;

      align-items: flex-end;
    }
  }
  &__links-block {
    &--back {
      display: grid;
      justify-content: flex-end;
    }
  }
  &__socials {
    display: grid;
    grid-template-columns: repeat(var(--socials-grid-cols), 1fr);
    grid-gap: var(--socials-grid-gap);
    align-items: center;

    max-width: var(--socials-width);
  }
  &__socials-link {
    transition: all 400ms var(--socials-link-transition-property);

    @include hover {
      &:hover {
        transform: scale(.935);

        svg {
          opacity: 1;
        }
      }
    }
    & > svg {
      width: var(--socials-svg-ratio);
      height: var(--socials-svg-ratio);

      fill: rgba(var(--socials-svg-fill-clr), 1);

      opacity: .4;

      transition: inherit;
    }
  }
  &__links-heading {
    font-weight: 700;

    @include m(b, 0.5rem);

    color: rgba(var(--footer-links-heading-clr),1);
  }
  &__links-item {
    font-size: 0.8125rem;
    line-height: 138.461538%;
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }
  &__links-link {
    @include tr(200);

    @include hover {
      &:hover {
        color: rgba(var(--footer-links-heading-clr), 1);
      }
    }

  }
  &__logo {
    max-width: var(--footer-logo-width);
  }
  &__info {
    @include fl(column, flex-start, var(--footer-info-gap));

    justify-content: space-between;

    font-size: 0.8125rem;
    font-weight: 600;
  }
  &__info-top {
    @include fl(column, flex-start, 1rem);
  }
  &__back {
    &:hover {
      svg {
        stroke: rgba(var(--socials-svg-fill-clr), 1);
      }
    }
    & > svg {
      width: 1.875rem;
      height: 1.875rem;

      stroke: rgba(var(--back-icon-fill-clr), 1);

      fill: transparent;

      @include tr(300);
    }
  }
}

@include min-w($mob-q) {
  .footer {
    &__col {
      &--between {
        flex-direction: column;
      }
    }
    &__row {
      justify-content: center;
    }
    &__info,
    &__info-top {
      text-align: center;

      align-items: center;
    }
  }
}

@include min-w($tab-q) {
  .footer {
    --footer-info-gap: 4.5rem;
    &__grid {
      grid-template-columns: repeat(var(--footer-grid-cols), auto);
    }
    &__info,
    &__info-top {
      align-items: flex-start;
    }
    &__row {
      justify-content: space-between;
      grid-template-columns: repeat(var(--footer-row-cols), auto);
    }
  }
}
