.header {
  --cont-width: 113.875rem;
  --header-play-width: 16.125rem;
  --actions-gap: 0.75rem;

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;

  padding: var(--header-py) 0;

  @include z-3;
  &__navigation {
    @include fl(row, center, 2.5rem);
  }
  &__body {
    @include fl(row, center, 1rem);
    justify-content: space-between;

    position: relative;

    @include z-1;
  }
  &__logo {
    max-width: var(--header-logo-width);
  }
  &__play {
    @include btn-flex(1.125rem);

    padding: 0.9375rem;

    display: none;

    max-width: var(--header-play-width);

    & > span {
      max-width: 14.0625rem;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &__actions {
    @include fl(row, center, var(--actions-gap));
  }
  &__login {
    color: rgba(var(--w-clr), .56);

    font-size: 0.75rem;

    letter-spacing: 0.125rem;

    font-weight: 400;
    font-family: var(--ff_r);

    @include tr(300);

    &:hover {
      color: rgba(var(--w-clr), 1);
    }
  }
  &__options {
    @include fl(column, flex-end, 0.3125rem);
  }
}

@include min-w($mob-q) {
  .header {
    &__login {
      font-size: 1rem;
    }
  }
}

@include min-w($desk-q) {
  .header {
    --actions-gap: 1rem;
    &__play {
      display: flex;
    }
  }
}
