.header {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;

  padding: var(--header-padding) 0;

  @include z-3;
  &__body  {
    @include fl(row, center, 1rem);
    justify-content: space-between;
  }
  &__play {
    @extend
    .button,
    .button--small;
  }
  &__logo {
    font-size: var(--header-logo-fz);
  }
  &__options {
    @include fl(row, center, 1.75rem);
  }
  &__actions {
    display: flex;
    flex-direction: column;
  }
  &__sign-in {
    text-transform: uppercase;

    text-align: right;

    justify-content: flex-end;
  }
}

@include max-w($media-m) {
  .header {
    &__play {
      display: none !important;
    }
    &__options {
      grid-gap: 1rem;
    }
  }
}


