.home {
  --btn-span-shadow:  0.125rem 0.125rem 0.1875rem  rgba(var(--b-clr),1);
  --btn-download-clr: 133, 133, 133;
  --title-shadow: 0rem 0rem 1.25rem rgba(var(--b-clr), 1);
  --quote-author-fz: 0.875rem;
  --play-btn-width: 18.75rem;

  background-image: url(../../img/home/bg-home.png);
  background-size: 100% auto;
  background-position: top left;
  background-repeat: no-repeat;

  padding-top: var(--home-p-top);

  position: relative;

  &::after {
    display: none;

    @include pseudo;

    width: 100%;
    height: 25%;

    bottom: -20%;
    left: 0;

    background: var(--home-gradient);
  }

  &__video {
    display: none;

    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    overflow: hidden;
    video {
      width: 100%;
      height: 100%;

      object-fit: cover;
      max-width: 100vw;
    }
  }
  &::before {
    @include pseudo;

    width: 100%;
    height: var(--header-gradient-height);

    top: 0;
    left: 0;

    background-image: var(--header-gradient);
  }
  &__container {
    --cont-width: 95.75rem;
  }
  &__body {
    padding-bottom: var(--home-p-bottom);

    position: relative;

    @include z-1;
  }
  &__quote-block {
    margin: 0 0 1.875rem;
  }
  &__quote {
    text-shadow: var(--title-shadow);

    font-size: var(--quote-fz);

    text-transform: uppercase;

    letter-spacing: 0.125rem;

    @include m(b, 5px);
  }
  &__quote-author {
    color: rgba(var(--w-clr), .56);

    text-transform: uppercase;

    font-family: var(--ff_i);
    font-size: var(--quote-author-fz);
  }
  &__play {
    @include btn-flex(1rem);

    max-width: var(--play-btn-width);

    padding-left: 1.25rem;
    padding-right: 1.25rem;

    span {
      text-shadow: var(--btn-span-shadow);

      font-family: var(--ff);
    }
    img {
      height: 2.625rem;
    }
  }
  &__play-inner {
    @include fl(column, flex-start, 0.0625rem);

    color: rgba(var(--btn-download-clr), 1);
    font-size: 0.9375rem;

    text-shadow: var(--btn-span-shadow);
    text-transform: uppercase;

    font-family: var(--ff_ns);

    letter-spacing: 2px;
  }
}

@include min-w($desk-q) {
  .home {
    background-size: 100% auto;
  }
}

@include min-w($mob-q) {
  .home {
    --quote-author-fz: 1.125rem;
    --play-btn-width: 22.75rem;

    &::after {
      display: block;
    }
    &__video {
      display: block;
    }
    &__play {
      span {
        font-size: 1.375rem;
      }
    }
  }
}
