.lang {
  position: relative;

  &:hover {
     .lang {
      &__hidden {
        opacity: 1;

        transform: translateY(0);

        visibility: visible;

        pointer-events: all;
      }
      &__arrow {
        transform: scaleY(-1);
      }
     }
  }
  &__select {
    @include fl(row, center, 8px);

    cursor: pointer;

    span {
      color: rgba(var(--w-clr), .56);

      text-transform: uppercase;

      font-family: var(--ff_r);
      font-size: 14px;

      letter-spacing: 0.125rem;
    }
  }
  &__hidden {
    position: absolute;

    width: fit-content;

    top: 0;
    right: 0;

    transform: translateY(0.625rem);

    opacity: 0;

    visibility: hidden;

    pointer-events: none;

    @include tr(300);
  }
  &__list {
    border: 1px solid rgba(var(--w-clr), .56);

    background-color: rgba(var(--lang-bg), 1);

    width: var(--lang-width);

    text-align: left;

    margin-top: 1.5rem;

    border-radius: 0.0625rem;

    padding: var(--lang-py) 0;
  }
  &__item {
    display: block;

    display: grid;
    align-items: center;
  }
  &__link {
    font-size: 0.625rem;
    font-family: var(--ff_r);
    font-weight: 400;

    line-height: 1.125rem;

    @include tr(300);

    color: rgba(var(--lang-link-clr), 1);

    padding: 0 var(--lang-py);

    @include hover {
      &:hover {
        color: rgba(var(--b-clr), 1);

        background-color: rgba(var(--lang-link-clr), 1);
      }
    }
  }
  &__arrow {
    @include arrow(rgba(var(--w-clr), 1));

    display: none;
  }
}

@include min-w($mob-q) {
  .lang {
    &__select {
      font-size: 0.8125rem;
    }
    &__arrow {
      display: block;
    }
  }
}
