.nav {
  &__list {
    @include fl(row, center, var(--nav-row-gutter));
  }
  &__link {
    font-size: var(--nav-link-fz);

    text-transform: uppercase;

    position: relative;

    &::before {
      @include pseudo;

      bottom: -7px;
      left: 50%;

      transform: translateX(-50%);

      width: 90%;
      height: 2px;

      border-radius: 6px;

      background-color: rgba(var(--w-clr),1);

      opacity: 0;

      @include tr(400);
    }
    @include hover {
      &:not(.nav__link--dropdown) {
        &:hover::before {
          opacity: 1;
        }
      }
    }
    &--dropdown {
      cursor: default;

      &:hover {
        .nav {
          &__dropdown-arrow-icon {
            transform: scaleY(-1);
          }
          &__dropdown-hidden {
            opacity: 1;

            visibility: visible;

            pointer-events: all;

            transform: translateY(0);
          }
        }
      }
    }
  }
  &__dropdown {
    @include fl(row, center, 8px);
  }
  &__dropdown-arrow-icon {
    @include tr(300);

    height: 10px;

    display: grid;
    place-items: center;
  }
  &__dropdown-hidden {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;

    @include tr(300);

    transform: translateY(10px);

    opacity: 0;

    @include z-4;

    pointer-events: none;

    visibility: hidden;
  }
  &__hidden-list {
    @include m(t, 2rem);

    border: 2px solid rgba(var(--w-clr), .4);
    border-radius: 4px;

    li {
      padding: 0.3125rem 0.75rem;

      a {
        @include tr(200);

        font-size: 1.125rem;

        @include hover {
          &:hover {
            transform: translateX(5px);

            opacity: .7;
          }
        }
      }
    }
  }
}

@include max-w($tab-q) {
  .nav {
    display: none;
  }
}
