.nav {
  display: none;
  &__list {
    @include fl(row, center, var(--nav-list-gap));
  }
  &__link {
    color: rgba(var(--w-clr), .8);

    letter-spacing: 0.12rem;

    text-transform: uppercase;

    font-size: var(--nav-link-fz);

    position: relative;

    @include hover {
      &:hover {
        color: rgba(var(--w-clr), 1);
      }
    }

    &--dropdown {
      @include fl(row, center, 0.625rem);

      cursor: default;

      position: relative;

      &:hover {
        .dropdown {
          transform: translateY(0);

          opacity: 1;

          visibility: visible;

          pointer-events: all;
        }
        .nav__arrow {
          transform: scaleY(-1);
        }
      }
    }
  }
  &__arrow {
    @include arrow(rgba(var(--w-clr), .8));
  }
}

@include min-w($desk-q) {
  .nav {
    display: block;
  }
}
