.news {
  position: relative;

  &__title {
    @extend .section-title;

    @include m(b, 2rem);
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: var(--cards-gutter);
  }
  &__card-inner {
    width: 100%;

    min-height: var(--cards-height);

    position: relative;

    display: flex;
    align-items: flex-end;

    padding: clamp(1.5rem, 2vw, 2rem) var(--card-padding) clamp(1.5rem, 3vw, 48px) var(--card-padding);

    @include hover {
      &:hover {
        .news__card-bg {
          img,
          picture {
            transform: scale(1.025) perspective(1px);
          }
        }
      }
    }
    &::before {
      @include pseudo;

      width: 100%;
      height: 100%;

      left: 0;
      bottom: 0;

      background-image: var(--card-gradient);

      opacity: 1;

      @include z-1;
    }
  }
  &__card-bg {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    img, picture {
      width: inherit;
      height: inherit;

      @include tr(200);
    }
  }
  &__card-content {
    width: 100%;

    position: relative;

    @include z-1;
  }
  &__card-date {
    font-size: 1.125rem;

    @include m(b, 8px);

    color: rgba(var(--w-clr), 0.8);
  }
  &__card-heading {
    font-size: clamp(1.5rem, 2vw, 2rem);

    font-weight: 600;

    max-width: var(--card-heading-width);

    @include hide-text(2);

    @include m(b, 8px);
  }
  &__card-info {
    p {
      font-size: clamp(1rem, 1.25vw, 1.25rem);
      font-weight: 400;
      line-height: 120%;
    }
  }
}

@include max-w($tab-q) {
  :root {
    --cards-gutter: 1rem;
  }
  .news {
    &__row {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      'first third'
      'second second';
    }
    &__card {
      &:nth-child(1) {
        grid-area: first;
      }
      &:nth-child(2) {
        grid-area: second;

        .news {
          &__card-heading {
            --card-heading-width: 56.25rem;
          }
        }
      }
      &:nth-child(3) {
        grid-area: third;
      }
    }
  }
}

@include max-w($mob-q) {
  .news {
    &__row {
      grid-template-columns: 100%;

      grid-template-areas: none;
    }
    &__card {
      grid-area: unset !important;
    }
    &__card-heading {
      --card-heading-width: 450px;
    }
  }
}
