.promo {
  min-height: var(--promo-height);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: grid;
  place-items: flex-end;

  margin-bottom: var(--promo-section-mb);
  &__body {
    text-align: center;

    letter-spacing: 0.125rem;
  }
  &__title {
    font-size: var(--promo-title-fz);

    text-transform: uppercase;

    color: rgba(var(--w-clr_300), 1);

    @include m(b, var(--promo-title-m));
    & > span {
      display: block;

      font-size: var(--promo-title-span-fz);

      color: rgba(var(--w-clr_300), .56);
    }
  }
  &__info {
    p {
      color: rgba(var(--w-clr_300),1);

      font-size: var(--promo-info-fz);

      line-height: 146%;
    }
  }
}

@include min-w($desk-q) {
  .promo {
    background-position: top left;
  }
}
