.promo {
  min-height: var(--promo-height);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: grid;
  place-items: flex-end;

  margin-bottom: var(--promo-section-mb);

  --promo-btn-px: 1.5rem;
  --promo-btn-py: 1.125rem;
  &__body {
    text-align: center;

    letter-spacing: 0.125rem;
  }
  &__title {
    font-size: var(--promo-title-fz);

    text-transform: uppercase;

    color: rgba(var(--w-clr_300), 1);

    @include m(b, var(--promo-title-m));
    & > span {
      display: block;

      font-size: var(--promo-title-span-fz);

      color: rgba(var(--w-clr_300), .56);
    }
  }
  &__info {
    margin-bottom: 2.75rem;

    p {
      color: rgba(var(--w-clr_300),1);

      font-size: var(--promo-info-fz);

      line-height: 146%;
    }
  }
  &__play {
    @include btn-flex(var(--btn-span-fz));

    max-width: 15.625rem;

    margin: 0 auto;

    width: 100%;

    padding: var(--promo-btn-py) var(--promo-btn-px);
    span {
      line-height: 145%;
    }
  }
}

@include min-w($mob-q) {
  .promo {
    --promo-btn-py: 1.375rem;
    --promo-btn-px: 1.875rem;
    &__play {
      max-width: 18.25rem;
    }
  }
}

@include min-w($desk-q) {
  .promo {
    background-position: top left;
  }
}
