.world {
  --world-py: 2rem;

  position: relative;
  &__body {
    position: relative;

    @include z-1;
  }
  &__title {
    margin-bottom: 1.5rem;

    font-weight: 600;
    font-size: 1rem;
    font-family: var(--ff_ns);

    letter-spacing: 0.1875rem;
    text-transform: uppercase;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(var(--world-grid-cols), 1fr);

    grid-gap: var(--world-grid-gutter);
  }
  &__grid-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: var(--world-item-height);

    @include tr(200);

    will-change: transform;

    position: relative;

    border-bottom: 2px solid rgba(var(--world-border-clr), 1);

    overflow: hidden;
    &::before,
    &::after {
      @include pseudo;

      left: 0;

      width: 100%;
      height: 100%;
      }
      &::before {
        background-image: var(--world-item-gradient);

        top: 0;

        @include tr(400);
      }
      &::after {
        opacity: 0;

        bottom: 0;

        background-image: var(--world-item-hidden-gradient);

        transition: 400ms ease;
        transition-delay: 150ms;
      }
      @include hover {
        &:hover {
          transform: scale(1.015);
          &::before {
            opacity: 0;
          }
          &::after {
            height: 100%;

            opacity: 1;
          }
        }
      }
  }
  &__grid-link {
    width: 100%;
    height: 100%;

    padding: var(--world-item-py) var(--world-item-px) 1rem var(--world-item-px);

    position: relative;
    @include z-1;

    display: grid;
    place-items: flex-end;
  }
  &__item-date {
    color: rgba(var(--w-clr), .7);

    font-size: 0.9375rem;
    font-family: var(--ff_j);

    text-transform: uppercase;

    @include m(b, 0.125rem);

    letter-spacing: 0.0625em;
  }
  &__item-heading {
    font-weight: 700;

    font-size: var(--world-item-heading-fz);

    text-shadow: var(--world-heading-shadow);
  }
  &__item-descr {
    height: 0;

    opacity: 0;

    transition: 400ms ease 75ms;

    p {
      @include hide-text(4);

      font-size: 1rem;
      margin-top: 0.4375rem;

      color: rgba(var(--w-clr), .7);
    }
  }
}

@include min-w($mob-q) {
  .world {
    &__item-descr {
      p {
        font-size: 1rem;
      }
    }
  }
}

@include max-w($tab-q) {
  .world {
    &__grid-item {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: .6;

        height: 100%;
      }
    }
    &__item-descr {
      height: 100% !important;

      opacity: 1 !important;

      p {
        @include hide-text(3);
      }
    }
  }
}

@include min-w($desk-q) {
  .world {
    &::before {
      height: 100%;
    }
  }
}
