// Inter FONT
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

// Jost FONT
@import url(https://fonts.googleapis.com/css?family=Jost:regular,500);

// Noto FONT
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,600);

@font-face {
  font-family: 'Reaver';
  src: local('ReaveR'),
  url('../../fonts/Reaver-Bold.woff') format('woff'),
  url('../../fonts/Reaver-Bold.otf') format('opentype'),
  url('../../fonts/Reaver-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Reaver';
  src: url('../../fonts/Reaver-SemiBold.woff'),
  url('../../fonts/Reaver-SemiBold.ttf') format('truetype'),
  url('../../fonts/Reaver-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
