:root {
  --ff: 'Reaver';
  --ff_r: 'Radiance';
  --ff_j: 'Jost', sans-serif;
  --ff_i: 'Inter', sans-serif;
  --ff_ns: 'Noto-Sans', sans-serif;

  --w-clr: 255, 255, 255;
  --w-clr_300: 226, 218, 206;
  --gr-clr: 97, 97, 97;
  --b-clr: 0, 0, 0;
  --dark-clr: 19, 23, 28;
  --r-clr: 219, 42, 17;
  --grey-clr: 33, 36, 38;
  --modal-bg: 24, 27, 29;
  --body-bg: 30, 30, 30;
  --socials-svg-fill-clr: 218, 218, 218;
  --back-icon-fill-clr: 74, 74, 74;
  --footer-links-heading-clr: 172, 172, 172;
  --lang-bg: 34, 34, 34;
  --lang-link-clr: 153, 153, 153;

  --cont-width: 75rem;
  --cont-px: 0.75rem;

  --header-gradient-height: 20.6875rem;
  --header-logo-width: 7rem;
  --header-py: 0.75rem;
  --nav-list-gap: 1.75rem;
  --nav-link-fz: 1rem;

  --home-p-top: 8.25rem;
  --home-p-bottom: 5.75rem;
  --quote-fz: 1.375rem;

  --world-grid-gutter: 1rem;
  --world-grid-cols: 1;
  --world-item-height: 14.625rem;
  --world-item-py: 1rem;
  --world-item-px: 1.25rem;
  --world-border-clr: 85, 85, 85;
  --world-heading-shadow: 0rem 0rem 0.625rem rgba(var(--b-clr), 1);
  --world-item-heading-fz: 1.25rem;

  --promo-height: 37.5rem;
  --promo-title-fz: 2.25rem;
  --promo-title-span-fz: 1.875rem;
  --promo-title-m: 2rem;
  --promo-info-fz: 0.875rem;
  --promo-section-mb: 3rem;

  --lang-width: 14.625rem;
  --lang-py: 0.75rem;

  --footer-grid-cols: 2;
  --footer-grid-gutter: 2.5rem;
  --footer-logo-width: 7rem;
  --footer-row-cols: 1;
  --footer-row-gap: 4rem;
  --footer-py-1: 2rem;
  --footer-py-2: 1.25rem;

  --socials-grid-cols: 3;
  --socials-grid-gap: 0.75rem;
  --socials-svg-ratio: 1.625rem;
  --socials-width: 6.375rem;
  --socials-link-transition-property: cubic-bezier(.175,.885,.32,1.275);

  --btn-py: 0.875rem;
  --btn-px: 1.25rem;
  --btn-span-fz: 1.125rem;
  --btn-p-y_large: clamp(1rem, 1.5vw, 1.5rem);
  --btn-p-x_large: clamp(1.375rem, 2vw, 2rem);
  --btn-p-y_small: 1rem;
  --btn-p-x_small: clamp(1.25rem, 1.4vw, 1.4rem);
  --btn-fz: clamp(1rem, 1.125vw, 1.125rem);
  --btn-fw: 600;
  --btn-fz_modal: 1rem;
  --btn-lh_modal: calc(1.5rem / var(--btn-fz_modal));
  --btn-lh: calc(24px / var(--btn-fz));
  --btn-border-width: 2px;
  --btn-radius: 0.25rem;

  --arrow-shape: polygon(50% 100%, 0 0, 100% 0);
  --arrow-width: 0.625rem;
  --arrow-height: 0.375rem;

  --modal-padding-x: clamp(1.25rem, 3vw, 3rem);
  --modal-padding-y: clamp(2rem, 4vw, 64px);
  --modal-overlay-bg: rgba(var(--b-clr), .7);
  --modal-body-width: 64.625rem;
  --modal-inner-gutter: clamp(2rem, 3vw, 3rem);
  --modal-path-gutter: clamp(9px, 0.875vw, 0.875rem);
  --modal-path-radius: 100px;

  // gradients
  --header-gradient: linear-gradient(180deg, rgba(18, 28, 35, 0.8) 0%, rgba(var(--b-clr), 0) 100%);
  --home-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 13.54%, #000000 51.04%, #000000 83.33%, rgba(0, 0, 0, 0) 100%);

  --world-item-gradient: linear-gradient(180deg, rgba(19, 23, 28, 0) 60%, rgba(19, 23, 28, 0.733) 70%, #13171C 90%);
  --world-item-hidden-gradient: linear-gradient(180deg, rgba(var(--dark-clr), 0.733) 0%, rgba(var(--b-clr),1) 90%);
}

$desk-q: 85.375em;
$desk-large-q: 120em;
$tab-q: 75em;
$mob-q: 40em;
$media-m: 40.625em;
$sm-mob-q: 24.0625em;

@include min-w($sm-mob-q) {
  :root {
    --quote-fz: 1.5rem;
  }
}

@include min-w($mob-q) {
  :root {
    --world-grid-cols: 2;

    --cont-px: 1rem;

    --promo-section-mb: 9.125rem;
    --promo-title-fz: 3.375rem;
    --promo-title-span-fz: 2.625rem;
    --promo-title-m: 2rem;
    --promo-info-fz: 1.25rem;

    --footer-logo-width: 10rem;
    --footer-py-1: 2.75rem;
    --footer-row-cols: 3;

    --quote-fz: 2.25rem;

    --btn-span-fz: 1.5rem;
    --btn-py: 0.9375rem;
    --btn-px: 1.875rem;
  }
}

@include min-w($tab-q) {
  :root {
    --header-logo-width: 10rem;
    --nav-list-gap: 2.5rem;

    --world-item-py: 1.875rem;
    --world-item-px: 1.25rem;
    --world-item-heading-fz: 1.5rem;
    --world-grid-cols: 3;

    --promo-height: 57.75rem;
    --promo-title-fz: 4.5rem;
    --promo-title-span-fz: 3.25rem;
    --promo-info-fz: 1.625rem;

    --home-p-top: 8.25rem;
    --home-p-bottom: 6rem;
  }
}

@include min-w($desk-q) {
  :root {
    --footer-row-cols: 3;
    --footer-row-gap: 80px;

    --world-grid-gutter: 1.875rem;

    --quote-fz: 3.75rem;

    --lang-width: 18.875rem;
  }
}

@include min-w(85.375em) {
  :root {
    --home-p-top: 7.75rem;
  }
}

@include min-w(90em) {
  :root {
    --home-p-top: 11rem;
  }
}
